* {
  padding: 0;
  margin: 0;
}
#postTable {
  background-color: #f0f9ff;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  padding: 30px;
  min-height: 100vh;
}
.header_menu {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
/*  */
.btl {
  padding: 10px;
  border-radius: 10px;
  background-color: #bae6fd;
  cursor: pointer;
}

/* table */

#main table {
  width: 100%;
  border-spacing: 0;
  border: 1px;
  background-color: white;
  /* border-radius: 10px; */
  border-left: 1px solid;
  border-bottom: 1px solid;
}
#main table thead tr td {
  text-align: center;
}
#main table thead tr td {
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
}
#main td {
  min-width: max-content;
  padding: 10px;
}

#main table tbody tr td {
  border-bottom: 1px dashed;
}
#main table .table_item_img {
  max-width: 100px;
  max-height: 100px;
}

#main table thead tr .content {
  max-width: 200px;
}
#main table tbody tr .content,
#main table .title {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#main {
  .del_btl,
  .edit_btl {
    background-color: #f87171;
    padding: 5px;
    cursor: pointer;
    border: 0;
  }
  .edit_btl {
    background-color: #22d3ee;
  }
}

/* edit post */
.editPost {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.editPost from label {
  display: inline-block;
  width: 200px;
}
.editPost from input {
  width: 500px;
}
.editPost from textarea {
  width: 500px;
}
